[user]
	name = Vladimir Bredikhin
	email = brutal.v4@gmail.com
  	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG+6eGHEerEHFv7E7pbbB4aa5qTCV7G5vA0ClORNsvV1

[pull]
	rebase = true

[rebase]
	autoStash = true

[core]
	excludesfile = ~/.gitignore
	editor = code --wait

[merge]
	autoStash = true

[checkout]
	autoStash = true

[init]
	defaultBranch = main

[color]
	ui = auto

[alias]
	hide = update-index --skip-worktree
	hide-modified = ! git ls-files -m | xargs git update-index --skip-worktree
	unhide = update-index --no-skip-worktree
	unhide-all = ! git ls-files -v | grep '^S' | cut -c3- | xargs git update-index --no-skip-worktree
	hidden = ! git ls-files -v | grep '^S' | cut -c3-
	hidden-edit = ! git ls-files -v | grep '^S' | cut -c3- | xargs $(git config --global core.editor|cut -d ' ' -f1)

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
